html {
   margin: auto;
   padding: 0%;
    margin: 0;

    background: rgb(0,255,189);
    background: linear-gradient(347deg, rgba(0,255,189,1) 0%, rgba(70,83,226,1) 52%, rgba(223,57,204,1) 100%);
}
body{
   text-align: center;
   margin:0;
   padding: 0;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   justify-content: flex-start;
}

/*
=================================================
clock
=================================================
*/
#clock {
   font-size: 70px;
   font-family: "Quicksand", sans-serif;
   font-weight: 100;
   font-style: normal;
   color: white; opacity: 0.3;
   margin: 0;
   padding: 10px;
   width:400px;
   border: solid white; opacity: .2;
   display: flex;
   align-items: center;
   justify-content: center;
   border: 3px solid rgb(255, 255, 255);
   border-radius: 10px;
}
h1 {
   

    font-size: 75px;
    text-align: center;
    font-family: "Quicksand", sans-serif;
  font-weight: 100;
  font-style: normal;
  color: white; opacity: 0.6;
  letter-spacing: -5px;
}

.search-bar {
    border-radius: 10px;
    width: 500px;
    opacity: .2;
    padding: 20px;
    border: none;

 }

 .submit-button {
    border-radius: 10px;
    width: 70px;
 opacity: .4;
    padding: 20px;
    border: none;
    font-family: "Montserrat", sans-serif;
   font-weight: 400;
 }
 /*
=================================================
BOOKMARKS
=================================================
*/
.bookmarks a{
   text-decoration: none;

}
.bookmarks{
   padding:30px;
   clear:both;
  
}
.bookmarks i{
   font-size:42px;
   margin:0 20px;
   color:#000000;
   transition:.15s;
   vertical-align: top;
   color: white; opacity: 0.3;
 
}
.bookmarks i:hover{
   font-size:72px;
   position:relative;
}



@media only screen and (max-width: 900px) {
   h1{
       margin-top:50px;
       font-size:100px;
   }
}


@media only screen and (max-width: 600px) {
   h1{
       margin-top:50px;
       font-size:75px;
   }
   .bookmarks i{
   margin:0 15px;
   }
}

 