html {
    height: 100%;
    background: rgb(0,255,189);
    background: linear-gradient(347deg, rgba(0,255,189,1) 0%, rgba(70,83,226,1) 52%, rgba(223,57,204,1) 100%);
    display: flex;
  justify-content: center;
  align-items: center;
}
.search-bar {
    border-radius: 10px;
    width: 500px;
    opacity: .2;
    padding: 20px;
    border: none;
 }

 .submit-button {
    border-radius: 10px;
    width: 70px;
 opacity: .4;
    padding: 20px;
    border: none;
    font-family: "Montserrat", sans-serif;
   font-weight: 400;
 }